#hero {
  max-width: 680px;
  width: 680px;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  padding-top: 10vh;
}
#hero h1 {
  font-family: "Source Serif 4", serif; 
  font-weight: 500; 
  font-size: 4rem;
  margin-top: 0 !important;
  margin-bottom: 0.2em !important;
}
#hero p {
  font-size: 1.3rem; 
  font-weight: 400; 
  max-width: 85%;
  margin: 0 auto;
}
#hero .aa-Form {
  /*height: 3em; */
  height: 50px;
  border-radius: 25px;
  /*border-radius: 2em; */
  /*border-color: var(--bs-gray-500);*/
  border-color: var(--bs-gray-200);
  background-color: var(--bs-gray-100);
  margin-top: 2em; 
  transition: border-radius 0.1s ease;
}
#hero .aa-Form:focus-within {
  /*border: 2px solid red !important;*/
  outline: 1px solid var(--bs-blue) !important;
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0;
}
#hero .aa-SubmitButton {
  padding: 5px; 
  /*margin: 5px; */
  margin-left: 5px; 
  margin-right: 10px;
  background-color: var(--bs-blue);
  border-radius: 50%;
}
#hero .aa-SubmitIcon {
  color: #ffffff;
  opacity: 1;
}
.aa-Panel {
  max-width: 680px !important;
  max-height: 35vh !important;
  width: 680px;
  outline: 1px solid var(--bs-blue) !important; 
}


#quarto-search > p {
  display: none;
}


#hero-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2em;
}
#hero-nav li > a{
  background-color: var(--bs-gray-100);
  border-radius: 1em;
  padding: 5px 15px; 
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-body-color)
}
#hero-nav li > a:hover {
  background-color: var(--bs-gray-200);
}
#hero-nav-paper a{
  background-color: var(--bs-blue) !important;
  color: #ffffff !important;
}
#hero-nav-paper a:hover {
  filter: brightness(1.2) !important;
}

/* <<<< LEARN MORE >>>> */
#learn-more {
  z-index: -1;
  position: fixed; 
  bottom: 50px; 
  width: 100vw;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
#learn-more-text{
  display: inline-block;
}
#learn-more-arrow {
  display: inline-block;
  animation: moveUpDown 1.5s infinite;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}
/* >>>> LEARN MORE <<<< */


#hero {
  position: sticky; 
  top: 0;
  z-index: 0;
}


#overview {
  position: sticky; 
  top: 0;
  z-index: 1;
  height: 100vh; 
  width: 100%;
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
}
#overview-box {
  height: 100vh; 
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
  display: grid; 
  grid-template-columns: 50px 1fr;
  gap: 3em;
}
#overview-title {
  grid-column: 1;
}
#overview h1 {
  font-family: "Source Serif 4", serif; 
  font-weight: 500; 
  font-size: 4rem;
  margin: 0;
  padding: 0;
  margin-top: 16rem;
  display: block;
  transform-origin: center; 
  transform: rotate(-90deg); 
}
#overview-col2 {
  grid-column: 2;
}
#overview-example {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 2em;
}
#overview-example-text {
  grid-column: 1;
}
#overview-example-figure {
  grid-column: 2;
  background-color: white;
  width: 100%; 
  height: 250px; 
  margin-top: 1.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 5px var(--bs-body-color);
}
#overview-info {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 2em;
}
#overview-info-learn {
  grid-column: 1;
}
#overview-info-software {
  grid-column: 2;
}
.overview-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--bs-gray-800);
  /*color: var(--bs-body-color);*/
  padding: 5px 10px; 
  /*background-color: var(--bs-body-bg);*/
  background-color: var(--bs-gray-300);
/*var(--quarto-scss-export-callout-color-caution)*/
  border-radius: 10px;
  margin-top: 0.2rem;
  margin-right: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 5rem;
  text-align: center;
}
.overview-btn:hover {
  transform: translateY(-3px);
  /*box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 2px 5px var(--bs-body-color);
}






#faq {
  position: sticky;
  top: -100px;
  z-index: 2;
  min-height: 100vh; 
  width: 100%;
  background-color: var(--bs-body-bg);
}
#faq-box {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
  padding-bottom: 6em;
  display: grid; 
  grid-template-columns: 50px 1fr;
  gap: 3em; 
}
#faq-title {
  grid-column: 1;
}
#faq h1 {
  font-family: "Source Serif 4", serif; 
  font-weight: 500; 
  font-size: 4rem;
  margin: 0; 
  padding: 0;
  margin-top: 100px;
  display: block;
  transform-origin: center; 
  transform: rotate(-90deg); 
}
#faq-listings {
  overflow: auto; 
  grid-column: 2;
}


#about {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 100vh; 
  width: 100%;
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
}
#about-box {
  max-width: 1400px; 
  margin: 0 auto;
  padding: 3em;
  display: grid; 
  grid-template-columns: 50px 1fr; 
  gap: 3em;
}
#about-title {
  grid-column: 1;
}
#about h1 {
  font-family: "Source Serif 4", serif; 
  font-weight: 500; 
  font-size: 4rem;
  margin: 0;
  padding: 0; 
  margin-top: 11rem;
  display: block; 
  transform-origin: center; 
  transform: rotate(-90deg);
}
#about-col2 {
  grid-column: 2;
}
